<?xml version="1.0"?>
<config>
    <modules>
        <Magebees_Productlabel>
            <version>1.2.0</version>
		</Magebees_Productlabel>
	</modules>
    <frontend>
        <routers>
            <productlabel>
                <use>standard</use>
                <args>
                    <module>Magebees_Productlabel</module>
                    <frontName>productlabel</frontName>
				</args>
			</productlabel>
		</routers>
		<layout>
            <updates>
                <productlabel>
                    <file>productlabel.xml</file>
				</productlabel>
			</updates>
		</layout>
	</frontend> 
    <admin>
        <routers>
			<adminhtml>
				
				<args>
					<modules>
						<productlabel after="Mage_Adminhtml">Magebees_Productlabel_Adminhtml</productlabel>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<events>      
			<admin_system_config_changed_section_productlabel>
                <observers>
                    <productlabel>
                        <type>singleton</type>
                        <class>productlabel/observer</class>
                        <method>adminSystemConfigChangedSection</method>
					</productlabel>
				</observers>
			</admin_system_config_changed_section_productlabel>
		</events>
		
		<layout>
			<updates>
				<productlabel>
					<file>productlabel.xml</file>
				</productlabel>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<productlabel>
			<general>
				<enable>1</enable>
				<image>1</image>
				<display_label_on>product,category,result,advanced</display_label_on>
			</general>
			<labelsize>
				<width_category>81</width_category>
				<height_category>80</height_category>
				<width_product>110</width_product>
				<height_product>109</height_product>
				
			</labelsize>
		</productlabel>
	</default>
    <global>
        <models>
            <productlabel>
                <class>Magebees_Productlabel_Model</class>
                <resourceModel>productlabel_mysql4</resourceModel>
			</productlabel>
            <productlabel_mysql4>
                <class>Magebees_Productlabel_Model_Mysql4</class>
                <entities>
                    <productlabel>
                        <table>cws_productlabel</table>
					</productlabel>
					<categories>
                        <table>cws_productlabel_category</table>
					</categories>
					<product>
                        <table>cws_productlabel_product</table>
					</product>
				</entities>
			</productlabel_mysql4>
		</models>
        <resources>
            <productlabel_setup>
                <setup>
                    <module>Magebees_Productlabel</module>
				</setup>
                <connection>
                    <use>core_setup</use>
				</connection>
			</productlabel_setup>
            <productlabel_write>
                <connection>
                    <use>core_write</use>
				</connection>
			</productlabel_write>
            <productlabel_read>
                <connection>
                    <use>core_read</use>
				</connection>
			</productlabel_read>
		</resources>
        <blocks>
            <productlabel>
                <class>Magebees_Productlabel_Block</class>
			</productlabel>
		</blocks>
        <helpers>
            <productlabel>
                <class>Magebees_Productlabel_Helper</class>
			</productlabel>
		</helpers>
		<events>
			<catalog_product_collection_load_after>
				<observers>
					<productlabel>
						<type>singleton</type>
						<class>Magebees_Productlabel_Model_Productobserver</class>
						<method>_filterCategoryLabel</method>
					</productlabel>
				</observers>
			</catalog_product_collection_load_after>
			<catalog_product_load_after>
				<observers>
					<productlabel>
						<type>singleton</type>
						<class>Magebees_Productlabel_Model_Productobserver</class>
						<method>_filterProductLabel</method>
					</productlabel>
				</observers>
			</catalog_product_load_after>			
		</events>
	</global>
</config>